<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <sec:global-method-security pre-post-annotations="enabled">
        <sec:expression-handler ref="expressionHandler"/>
    </sec:global-method-security>
    <sec:http pattern="/static/**" security="none"/>
    <sec:http auto-config="true" use-expressions="true">
        <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <sec:form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?login_error=1"/>
        <sec:http-basic/>
        <sec:logout logout-success-url="/index.jsp"/>
        <sec:remember-me/>
        <sec:headers/>
        <sec:csrf/>
    </sec:http>
    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:password-encoder ref="encoder"/>
            <sec:jdbc-user-service data-source-ref="dataSource"/>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <bean class="org.springframework.security.authentication.event.LoggerListener"/>

    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean id="ehCacheManagerFactoryBean" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:shared="true"/>

    <bean id="consoleAuditLogger" class="org.springframework.security.acls.domain.ConsoleAuditLogger"/>

    <bean id="simpleGrantedAuthorityRAA" class="org.springframework.security.core.authority.SimpleGrantedAuthority"
          c:role="ROLE_ACL_ADMIN"/>

    <bean id="simpleGrantedAuthorityRA" class="org.springframework.security.core.authority.SimpleGrantedAuthority"
          c:role="ROLE_ADMINISTRATOR"/>

    <bean id="ehcacheFactoryBean" class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="ehCacheManagerFactoryBean"
          p:cacheName="aclCache"/>

    <bean id="defaultPermissionGrantingStrategy"
          class="org.springframework.security.acls.domain.DefaultPermissionGrantingStrategy"
          c:auditLogger-ref="consoleAuditLogger"/>

    <bean id="aclAuthorizationStrategyImplRAA"
          class="org.springframework.security.acls.domain.AclAuthorizationStrategyImpl"
          c:auths-ref="simpleGrantedAuthorityRAA"/>

    <bean id="aclCache" class="org.springframework.security.acls.domain.EhCacheBasedAclCache"
          c:cache-ref="ehcacheFactoryBean"
          c:permissionGrantingStrategy-ref="defaultPermissionGrantingStrategy"
          c:aclAuthorizationStrategy-ref="aclAuthorizationStrategyImplRAA"/>


    <bean id="aclAuthorizationStrategyImplRA"
          class="org.springframework.security.acls.domain.AclAuthorizationStrategyImpl"
          c:auths-ref="simpleGrantedAuthorityRA"/>

    <bean id="basicLookupStrategy" class="org.springframework.security.acls.jdbc.BasicLookupStrategy"
          c:dataSource-ref="dataSource" c:aclCache-ref="aclCache"
          c:auditLogger-ref="consoleAuditLogger"
          c:aclAuthorizationStrategy-ref="aclAuthorizationStrategyImplRA"/>

    <bean id="aclService" class="org.springframework.security.acls.jdbc.JdbcMutableAclService"
          c:dataSource-ref="dataSource" c:lookupStrategy-ref="basicLookupStrategy" c:aclCache-ref="aclCache"
          p:classIdentityQuery="SELECT @@IDENTITY" p:sidIdentityQuery="SELECT @@IDENTITY"/>



    <bean id="permissionEvaluator" class="org.springframework.security.acls.AclPermissionEvaluator"
          c:aclService-ref="aclService"/>

    <bean id="aclPermissionCacheOptimizer" class="org.springframework.security.acls.AclPermissionCacheOptimizer"
          c:aclService-ref="aclService"/>

    <bean id="expressionHandler"
          class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler"
          p:permissionEvaluator-ref="permissionEvaluator"
          p:permissionCacheOptimizer-ref="aclPermissionCacheOptimizer"/>
</beans>